@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700&display=swap');   

.footer{
    background-color: #22353F;
    height: 121px;
    margin: 0;
    display: flex;
    justify-content: center;

}

.footer p {
    color: #AEAEAE;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    width: 326px;
    height: 26px;
    margin: 0;
    margin-top: 50px;
}

.theHam-footer{
    color: #18CFAB;
}