@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700&display=swap');

.four-option{
    display: flex;
}

.option1{
    background-color: #1C2A33;
    width: 25%;
    height: 377px;
    margin-top: 8px;
}

.option1-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    position: relative;
    top: 87px;
}

.option1-img{
    display: flex;
    width: 57.54px ;
    height: 97px;
    justify-content: center;
    
}

.option1-text{
    font-size: 20px;
    color: #18CFAB;
    display: flex;
    height: 25px;
    width: 315px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    justify-content: center;
}


.option2{
    background-color: #18CFAB;
    height: 377px;
    width: 25%;
    margin-top: 8px;
}

.option2-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 59px;
    position: relative;
    top: 98px;
}

.option2-img{
    display: flex;
    width: 93px ;
    height: 75px;
    justify-content: center;
    
}

.option2-text{
    font-size: 20px;
    color: white;
    display: flex;
    height: 25px;
    width: 266px;
    justify-content: center;
        font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.option3{
    background-color: #1C2A33;
    height: 377px;
    width: 25%;
    margin-top: 8px;
}


.option3-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 49px;
    position: relative;
    top: 87px;
}

.option3-img{
    display: flex;
    width: 60px ;
    height: 96px;
    justify-content: center;
    
}

.option3-text{
    font-size: 20px;
    color: #18CFAB;
    display: flex;
    height: 25px;
    width: 255px;
    justify-content: center;
        font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.option4{
    background-color: #18CFAB;
    height: 377px;
    width: 25%;
    margin-top: 8px;
}

.option4-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 59px;
    position: relative;
    top: 97px;
}

.option4-img{
    display: flex;
    width: 99px ;
    height: 76px;
    justify-content: center;
    
}

.option4-text{
    font-size: 20px;
    color: white;
    display: flex;
    height: 25px;
    width: 294px;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
