@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


body {
    margin: 0 auto;
    
}

button{
    cursor: pointer;
}

.nav {
    display: flex;
    background-color: #5E5D5899;
    height: 120px;
}

.nav-wrapper{
    display: flex;
    width: 1160px;
    margin: 0 auto;
    height: 120px;
    justify-content: space-between;
    
}

.nav-list {
    display: flex;
    list-style: none;
    justify-self: flex-end;
    font-size: 16px;
    gap: 21.09px;
    align-items: center;


}

.the-ham{
    display: flex;
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
}

.the{
    color: white;
}

.ham{
    color: #18CFAB;
}

.nav-logo{
    width: 233px;
    height: 120px;
    display: flex;
    align-items: center;
    gap: 6px;
}

.nav-logo-picture {
    display: flex;
    justify-content: center;
    width: 58px;
    height: 67px;
    background-image: url(/img/navLogo.png);
}

.logo-text {    
    position: relative;
    top: 10px;
    width: 31px;
    height: 31px;
    color: white;
    font-size: 40px;
}



.nav-list-item {
    padding-top: 46px;
    padding-bottom: 46px;
    color: rgba(255, 255, 255, 0.639);
    font-weight: 700;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

.nav-list-item:hover {
    color: #18CFAB;
    border-bottom: 2px solid #18CFAB;
    
}


.header-wrapper{
    height: 897px;
    display: flex;
    justify-content: center;
}

.header-text{
    position: relative;
    top: 251px  ;
    height: 213px;
}


.header{
    height: 1012px;
    background-image: url(/img/header-BG.png);
}

.header-text-h2{
    display: flex;
    justify-content: center;
    font-size: 35px;
    height: 35px;
    gap: 10px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.wordpress-theme{
    color: #18CFAB;
}

.header-h1{
    display: flex;
    justify-content: center;
    font-size: 78px;
    width: 798px;
    height: 80px;
    color: white;
    margin-top: 22px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

.header-h3{
    display: flex;
    justify-content: center;
    font-size: 34px;
    width: 795px;
    height: 34px;
    font-weight: 400;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 1px;

}

.header-btns{
    display: flex;
    gap: 26px;
    justify-content: center;
    position: relative;
    top: 122px;
}

.explore-btn{
    width: 168px;
    height: 68px;
    background-color: #18CFAB;
    color: white;
    border: none;
    font-size: 15px;
    border-radius: 8px;
    margin-top: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.purchase-btn{
    color: white;
    width: 168px;
    height: 68px;
    background-color: #00CBF6;
    border: none;
    font-size: 15px;
    border-radius: 8px;
    margin-top: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.purchase-btn-div{
    background-color: white;
    height: 69px;
    border-radius: 8px;
}

.explore-btn-div{
    background-color: white;
    height: 69px;
    border-radius: 8px;
}

