@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700&display=swap');   
 

.news{
    height: 958px;
}

 .news-wrapper{
    width: 1160px;
    margin: 0 auto;
    height: 744px;
}

.news-title{
    margin: 0 auto;
    margin-top: 84px;
    width: 268px;
    height: 70px;
}

.news-title-h1{
    display: flex;
    justify-content: center;
    width: 298px;
    height: 40px;
    font-size: 36px;
    color: #4E4E4E;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}



.news-h1-line{
    width: 79px;
    border-color: #18CFAB;
    position: relative;
    margin-left: 102px;
    margin-right: 117px;
}

.news-h1-line2{
    width: 78px;
    border-color: #18CFAB;
    margin-top: 2px;
    margin-left: 115px;
    margin-right: 105px;

}

.news-squares{
    width: 265px;
    height: 281px;
}

.news-squares-date, .news-squares-h1 {
    transition: background-color 0.3s ease, color 0.3s ease;
}

.news-squares:hover .news-squares-date {
    background-color: #18CFAB;
}

.news-squares:hover .news-squares-h1 {
    color: #18CFAB;
}

.news-content{
    display: grid;
    grid-template-columns: repeat(4, 265px);
    grid-auto-rows: 281px; 
    grid-column-gap: 33px;
    grid-row-gap: 44px;  
}

.news-squares-date {
    width: 66px;
    height: 64px;
    background-color: #203E38;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.news-squares-date-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 58px;
    height: 37px;
    text-align: center;
    line-height: 25px;
}

.news-squares-img {
    display: flex;
    justify-content: end;
    position: relative;
    width: 263px;
    height: 208px;
} 

.news-squares-date-text-p{
    margin: 0;
    color: white;
    font-weight: 400;
}

.news-squares-h1{
    margin: 0;
    width: 227px;
    height: 40px;
    color: #717171;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.news-squares-p{
    width: 210px;
    height: 40px;
    margin: 0 0 0 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #777777;
    font-size: 13.99px;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 300;
    white-space: pre;
}

.news-content{
    margin-top: 69px;
}

