@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400&display=swap');

.our-services{
    width: 1160px;
    margin: 0 auto;
    margin-top: 92px;
}

.our-services-buttons{
    list-style: none;
    display: flex;
    width: 1134px;
    padding: 0;
    margin-left: 5px;
}

.our-services-button{
    width: 189px;
    background-color: #EDEFEF;
    border: none;
    font-size: 15.99px;
    height: 72px;
    color: #717171;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.our-services-button.active{
    background-color: #18CFAB;
    color: white;
    position: relative;
}

.our-services-button.active::after{
    content: '';
    width: 0;
    height: 0;
    border-left: 13.5px solid transparent; 
    border-right: 13.5px solid transparent;
    border-top: 15px solid #18CFAB; 
    position: absolute;
    top: 71px;
    left: 84px; 
}

.our-services-name{
    margin: 0 auto;
    width: 224px;
    height: 70px;
    margin-bottom: 67px;
    
}

.our-services-h1{
    width: 254px;
    height: 40px;
    font-size: 36px;
    display: flex;
    justify-content: center;
    color: #4E4E4E;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.our-services-h1-line{
    width: 75.54px;
    border-color: #18CFAB;
    position: relative;
    margin-left: 68px;
    margin-right: 80px;
}

.our-services-h1-line2{
    width: 78px;
    border-color: #18CFAB;
    margin-top: 2px;
    margin-left: 79px;
    margin-right: 67px;
    
}

.our-services-button:hover{
    border: 1.5px solid #18CFAB;
}   

.our-services-button.active:hover{
    border: none;
}

.our-services-tabs{
    margin-bottom: 90px;
}

.our-services-tabs-text{
    height: 136px;
    margin: 0;
    font-size: 13.64px;
    color: #777777;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    line-height: 24.37px;
}

.web-design{
    width: 1160px;
    display: flex;
    gap: 15px;
}

.our-services-tabs-img{
    height: 139px;
    width: 192px;
    margin-left: 6px;
}

.our-services-tabs-img.marketing {
    width: 192px;
    height: 139px;
  }

.our-services-tabs-img.seo{
    height: 139px;
    width: 192px;
    border: 1px solid rgb(160, 158, 158);
}


.our-services-tabs-img.graphic{
    border: 1px solid rgb(160, 158, 158);
}

.graphic-design{
    display: flex;
    width: 382px;
    gap: 15px;
}

.online-support{
    width: 573px;
    display: flex;
    gap: 15px;
}

.app-design{
    width: 1159px;
    display: flex;
    gap: 15px;
}

.online-marketing{
    width: 953px;
    display: flex;
    gap: 15px;
}

.seo-service{
    width: 1142px;
    display: flex;
    gap: 15px;
}


.our-services-tabs-content{
    display: none;
}

.our-services-tabs-content.active{
    display: flex;
}

