@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700&display=swap');

.our-amazing-work{
    display: flex;
    justify-content: center;
    background-color: #E9EDEF; 
}

.our-work-title{
    margin: 0 auto;
    width: 346px;
    height: 66px;
    margin-top: 97px;
}

.our-work-h1{
    margin-top: 96pxd;
    font-size: 36px;
    display: flex;
    justify-content: center;
    color: #4E4E4E;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    width: 376px;
    height: 40px;
}

.our-work-h1-line{
    width: 75.54px;
    border-color: #18CFAB;
    position: relative;
    margin-left: 127px;
    margin-right: 139px;

}

.our-work-h1-line2{
    width: 78px;
    border-color: #18CFAB;
    margin-top: 2px;
    margin-left: 140px;
    margin-right: 126px;
    
}

.our-work-filter{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;

}

.our-work-tabs{
    margin: 0 auto;
    width: 589px;
    display: flex;
    justify-content: center;
    margin-top: 69px;
}

.our-work-filter-tabs{
    background-color: #E9EDEF;
    height: 62px;
    border: solid 1px #DADADA;
    font-size: 14px ;
    color: #717171;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.our-work-filter-tabs.active{
    color: #18CFAB;
    border: 2px solid #18CFAB;
}

#our-work-all{
    width: 79px;
}

#our-work-graphic{
    width: 142px;
}

#our-work-web{
    width: 117px;
}

#our-work-landing{
    width: 137px;
}

#our-work-wordpress{
    width: 106px;
}

.our-amazing-work-pictures {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(4, 285px);
    grid-auto-rows: 211px; 
}

.our-amazing-work-pictures img {
    width: 100%;
    height: 100%;
}

.our-amazing-work-btn{
    height: 63px;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 168px;
    background-color: #18CFAB;
    color: white;
    border: none;
    font-size: 15px;
    border-radius: 8px;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-bottom: 99px;
    
}


.our-amazing-work-img-div-hover {
    position: absolute;
    border-top: 3px solid #18CFAB;
    opacity: 0;
    width: 285px;
    height: 211px;
    transition: opacity 1s;
}

.our-work-img-div:hover .our-amazing-work-img-div-hover {
    opacity: 1;

}

.our-work-img-div:hover img{
    opacity: 0;
    transition: opacity 0.5s;
}

.our-work-chain{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    color: #18CFAB;
    border: 2px solid #18CFAB;
}

.our-work-square{
    width: 43px;
    height: 43px;
    border-radius: 50%;
    color: white;
    background-color: #18CFAB;
    border: 2px solid #18CFAB;
}

.our-amazing-work-img-div-hover h2{
    text-transform: uppercase;
    font-size: 14.18px;
    color: #18CFAB;
    margin: 0;
    font-weight: 700;
}

.our-work-hover-btns{
    display: flex;
    justify-content: center;
    gap: 3px;
    margin-top: 46px;
}

.our-amazing-work-img-div-hover p{
    font-size: 12.15px;
    color: #8A8A8A;
    margin: 0;
}

.our-work-hover-text{
    margin-top: 26px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.our-work-hover-text h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.our-work-hover-text p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.our-work-img{
    transition: opacity 0.5s;
}

