@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700&display=swap');

.purchase{
    height: 476px;
    background-image: url(/img/purchase-bg.png);
}

.purchase-text{
    display: flex;
    flex-direction: column;
    gap: 12.22px;
    position: relative;
    top: 126px;
}

.purchase-text-h1{
    text-transform: uppercase;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 1143.34px;
    font-size: 40px;
    color: #18CFAB;
    height: 40px;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.purchase-text-p{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 852px;
    height: 40px;
    font-size: 16px;
    color: #D8D8D8;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.purchase-purchase-now{
    width: 168px;
    height: 68px;
    background-color: #18CFAB;
    color: white;
    border: none;
    font-size: 15px;
    border-radius: 8px;
    margin-top: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.purchase-purchase-now-div{
    background-color: white;
    height: 69px;
    border-radius: 8px;
}

.purchase-purchase-btn{
    display: flex;
    justify-content: center;
    margin-top: 67px;
}
