@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700&display=swap');   

.slider {
    height: 854px;
    background-image: url(/img/slider-bg.png);
 }

 .slider-wrapper{
    margin: 0 auto;
    width: 1160px;
}

.slider-title{
    margin: 0 auto; 
    width: 583px;
    height: 71px;
    padding-top: 100px;
}


.slider-title-h2{
    font-size: 36px;
    font-family: Montserrat;
    font-weight: 400;
    width: 613px;
    color: white;
    margin: 0;
}

.slider-title-h2-line1{
    margin-top: 25px;
    width: 79px;
    border-color: #18CFAB;
    margin-left: 246px;
    margin-right: 258px;
}

.slider-title-h2-line2{
    width: 78px;
    border-color: #18CFAB;
    margin-top: 2px;
    margin-left: 259px;
    margin-right: 246px;
}

.slider-title-6{
    width: 44px;
}

.slider-title-6-div{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 583px;
    height: 30px;

}

.slider-content{
    margin: 0 auto;
    display: flex;
    width: 1160px;
    height: 397px;
    flex-direction: column;
    margin-top: 66px;
}

.slider-p{
    width: 1160px;
    height: 45px;
    font-family: Montserrat;
    font-weight: 300;
    font-size: 16px;
    text-align: center;
    color: #BBBBBB;
    margin: 37px 0 0 0;
}

.slider-name {
    width: 120px;
    height: 42px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 37px;
}

.slider-name-h2 {
    text-align: center;
    color: #18CFAB;
    font-size: 16px;
    font-family: Montserrat;
    font-weight: 700;
    margin: 0; 
}

.slider-name-p {
    font-family: Montserrat;
    font-weight: 300;
    font-size: 13px;
    text-align: center;
    color: #BBBBBB;
    margin: 0; 
}

.slider-img{
    width: 171px;
    height: 166px;
    margin: 0 auto;
    margin-top: 25px;
}

.slider-btn{
    width: 79px;
    height: 71px;
}


.thumbnail-slider {
    transition: transform 0.3s;
    position: relative;
    height: 83px;
    width: 483px;
    margin: 51px auto 0;
    justify-content: center;
  }

  
  .thumbnail-img {
    transition: transform 0.3s; 
    cursor: pointer; 
    margin-top: 10px;
  }
  
  .thumbnail-img.active {
    transform: translateY(-11px);
  }

  .arrow{
    background-color: none;
    border: 1px black solid;
    width: 31px;
    height: 31px;
    display: flex;
    position: relative;
    color: white;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;
  }

  .arrow:hover{
    background-color: #18CFAB;
    transition: 0.3s;
  }

  .arrows{
    position: relative;
    top: -50px;
    align-items: center;
    margin:  0 auto;
    width: 483px;
    display: flex;
    justify-content: space-between;
  }
  

